[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
motor = "*"
pre-commit = "*"
pydantic-settings = "*"
aiokafka = "*"
httpx = "*"
celery = "*"
pydantic = "*"
redis = "*"
pytest = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3"

